.container{
    header{
        width: 100%;
        height: .44rem;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, #FF3D6F, #FF5BA6);
        justify-content: center;
        align-items: center;       

        .main-title {
            font-size: 19px;
            font-family: Simhei;
            max-width: 97px;
            font-weight: 700;
            font-size: 19px;
            color: #fff;
            overflow: hidden;
            max-height: 32px;
            padding-left: 10px;
        }
        .search {
            background-color: #fff;
            border-radius: 5px;
            min-width: 50%;
            margin-left: 10px;
            line-height: 28px;
            height: 28px;

            form {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .icon {
                    font-family: "iconfont";
                }

                input {
                    border: none;
                }
            }

        }

        .sort {
            position: relative;
            z-index: 7;
            background-size: 287px 800px;
            width: 28px;
            height: 28px;
            margin-left: 12px;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
                    
            .icon {
                width: 100%;
                height: 100%;
                font-family: "iconfont";
                font-size: 28px;
                color: #fff;
            }
        }
    }
}