<div>
    <div class="classify-item">
        <ul id="classify-good">
            <!-- <li>
                <img src="https://img.alicdn.com/imgextra/i2/2053469401/TB2A7ERuL9TBuNjy1zbXXXpepXa-2053469401.png_310x310.jpg" alt="">
                <b>连衣裙</b>
            </li> -->
        </ul>
    </div>

    <nav class="classify-nav">
        <ul>
            <li class="active">人气</li>
            <li>最新</li>
            <li>销量</li>
            <li>价格</li>
        </ul>
    </nav>

    <div class="girl-list">
        <ul id="girllist">
            <li>
                <img src="https://img.alicdn.com/imgextra/i3/2218777066/TB2TXd4uA9WBuNjSspeXXaz5VXa_!!2218777066.jpg_310x310.jpg" alt="">
                <i class="i1">老城南 麻辣素菜火锅麻辣素菜火锅</i>
                <b><span>￥18.8</span><i>销量 11418</i></b>
            </li>
        </ul>
    </div>
</div>