<div class="container">
    <header>
        <a href="##" class="main-title">优优好店</a>
        <div class="search">
            <form action="">
                <span class="icon">&#xe627;</span>
                <input type="text" placeholder="换季护肤">
            </form>
        </div>
        <div class="sort">
            <span class="icon">&#xe682;</span>
        </div>
    </header>
    <nav>
        <ul>
            <li class="active"><i>精选</i></li>
            <li><i>女装</i></li>
            <li><i>男装</i></li>
            <li><i>鞋品</i></li>
            <li><i>箱包</i></li>
            <li><i>男婴</i></li>
            <li><i>美妆</i></li>
            <li><i>内衣</i></li>
        </ul>
    </nav>
    <main id="scrollarea"></main>
</div>